$font-family:'Roboto', sans-serif;;
$title-family:'Raleway', sans-serif;
$oring-color:#f9683a;
$background01:#f7f7f7;
$base-color:#17161c;
$services-box-color:#eef3f6;
$primary-color:#707070;
$titleFont-color:#000000;
$yellow-color:#ffdd00;
$darkbule2-color:#080c2c;
$nave-active-border: 4px solid rgb(55, 100, 235);
$blue-color:#17161c;
$blue-color2:#10248c;
$green-color:#4FBA6F;
$white-color:#fff;
$white-color2:#f9f9f9;
$light-skyblue:rgb(140, 168, 231);
$box-text-border:2px solid rgb(212, 223, 255);
$box-text-border2:1px solid #dedede;
$letter-spacing: -2px;
$line-height:24px;
$copy-right:#f9683a;
